.trending-section {
  position: absolute;
  top: 600px;
  z-index: 3;
  padding:0px 120px;
  color: white;
  overflow: hidden;
}

.section-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.trending-carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 10px 0;
}

.trending-carousel {
  display: flex;
  gap: 15px;
  will-change: transform;
}

.trending-item {
  position: relative;
  min-width: 220px;
  height: 270px;
  flex-shrink: 0;
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.trending-item:hover {
  transform: scale(1.05);
  z-index: 2;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.trending-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.trending-item:hover .trending-image {
  transform: scale(1.1);
}

.trending-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, transparent 100%);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}


.trending-carousel-container::-webkit-scrollbar {
  display: none;
}

